@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,600&display=swap");
@import "tailwindcss";
@theme {
  --font-serif: "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: #fafafa;
  --foreground: #09090b;
}